#!/usr/bin/bash
# SPDX-License-Identifier: GPL-3.0-or-later
# {{DESCRIPTION}}
set -euo pipefail
shopt -s inherit_errexit

error() { >&2 printf "${0##*/}: %s\n" "$@"; }
die() { (($# < 2)) || error "${@:2}"; exit "${1:-0}"; }

main() {
  # TODO: Add implementation
  echo 'Hello from {{NAME}}'

}

main "$@"
#fin
