#!/usr/bin/bash
# {{DESCRIPTION}}
set -euo pipefail
shopt -s inherit_errexit

info() { >&2 printf "${0##*/}: %s\n" "$@"; }
error() { >&2 printf "${0##*/}: error: %s\n" "$@"; }
die() { (($# < 2)) || error "${@:2}"; exit "${1:-0}"; }

main() {
  # BUSINESS STARTS HERE
  info 'Hello {{NAME}}'
  #...
  info 'Bye {{NAME}}'
}

main "$@"
#fin
